<div class="search-result">
    <h4>Результаты поиска</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Образование</th>
            <th scope="col">Статей</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="pagination"></div>
</div>
