@model IEnumerable<CloudPublishing.Models.Publishings.PublishingTableViewModel>
@{
                /**/

                ViewBag.Title = "Журналы";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-end mb-3">
    <a href=@Url.Action("CreatePublishing", "Publishing") class="btn btn-success"><i class="fas fa-plus"></i>Добавить</a>
</div>
<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Тематика</th>
        <th>Рубрики</th>
        <th></th>
    </tr>
    @foreach (var publishing in Model)
    {
        <tr>
            <td>@publishing.Title</td>
            <td>@publishing.Type</td>
            <td>@publishing.Subjects</td>
            <td>@publishing.Topics</td>
            <td width="110px">
                <a href=@Url.Action("EditPublishing", "Publishing", new { id = publishing.Id }) class="btn">
                    <i class="fas fa-edit"></i>
                </a>
                <a href=@Url.Action("DeletePublishing", "Publishing", new { id = publishing.Id }) class="btn btn-outline-danger">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>