@model IEnumerable<CloudPublishing.Models.Publishings.PublishingTableViewModel>
@{

    ViewBag.Title = "Издания";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-right mb-3">
    <a href=@Url.Action("Create", "Publishing") class="btn btn-success"><i class="fas fa-plus"></i> Добавить</a>
</div>
<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Тематика</th>
        <th>Рубрики</th>
        <th width="auto"></th>
    </tr>
    @foreach (var publishing in Model)
    {
        <tr>
            <td>@publishing.Title</td>
            <td>@publishing.Type</td>
            <td>@publishing.Subjects</td>
            <td>@publishing.Topics</td>
            <td class="text-center">
                <a href=@Url.Action("Edit", "Publishing", new { id = publishing.Id }) class="btn btn-sm btn-outline-dark">
                    <i class="fas fa-edit"></i>
                </a>
                <a href=@Url.Action("Delete", "Publishing", new { id = publishing.Id }) class="btn btn-sm btn-outline-danger">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>