<select name={{name}} class="form-control">
    {{#if defaultText}}
        <option disabled selected>{{defaultText}}</option>
    {{/if}}
    {{#each elementList}}
        <option value={{value}}>{{text}}</option>
    {{/each}}
</select>
