<div class="container" id="journalistBody">
    <h2>{{data.firstName}} {{data.lastName}} {{data.middleName}}</h2>
    <section class="info-body">
        <ul class="nav nav-tabs">
            <li class="nav-item" data-type="infoComponent">
                <a href="#" class="nav-link active">Информация</a>
            </li>
            <li class="nav-item" data-type="statisticsComponent">
                <a href="#" class="nav-link">Статистика</a>
            </li>
            <li class="nav-item" data-type="articlesComponent">
                <a href="#" class="nav-link">Статьи</a>
            </li>
        </ul>
        <!--Это будет отдельным компонентом. Наверно. Стили потом-->
        <div class="journalist-info-content" hidden>
        </div>
        <div class="journalist-statistics-content" hidden>
        </div>
        <div class="journalist-articles-content" hidden>
        </div>
        <button class="btn btn-primary" id="returnToSearchForm"> 
            <i class="fas fa-arrow-left mr-1"></i>Вернуться
        </button>
    </section>
</div>
<script>
    
</script>
<style>
    .info-body {
        margin: 25px 0 0 0;
        border-top: 1px solid gray;
    }
    .nav {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    #journalistInfo {
        margin: 20px 0 0 0;
    }
</style>
