<select class="custom-select custom-select-sm select-per-page">
    <option value="3">3</option>
    <option value="6" selected>6</option>
    <option value="9">9</option>
    <option value="12">12</option>
</select>