body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.error-notification {
    text-align: center;
}

.notification-img {
    margin: 20px 0;
}

.status-code {
    font-size: 70px;
}

.notification-list {
    font-size: 20px;
    display: inline-block;
    width: 300px;
}

.list-header, .list-item {
    text-align: left;
}

.list-item::before {
    content: "•";
}

.list-header {
    list-style: none;
}

.publishing-form {
    width: 500px;
    margin: auto;
}

.multi-select-component {
    margin-bottom: 20px;
}

.publishing-list-actions {
    text-align: center;
    min-width: 115px;
}