@model CloudPublishing.Models.Reviews.ViewModels.ReviewModel
@{
    ViewBag.Title = "Изменение";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Review", FormMethod.Post))
{
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="form-group">
                <label>Рецензия</label>
                <textarea class="form-control" rows="6" name="Content" id="review_content">@Model.Content</textarea>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Approved" value="true" id="published_сheckbox">
                    <label class="cursor-pointer" for="published_сheckbox">
                        В публикацию
                    </label>
                </div>
            </div>
            <input type="hidden" value="@Model.ArticleId" name="articleId" />
            <input type="hidden" value="@Model.ReviwerId" name="reviwerId" />
            <div class="text-right">
                @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-secondary mr-2" })
                <input type="submit" class="btn btn-primary" value="Сохранить">
            </div>
        </div>
    </div>
}
