<div id="searchJournalist">
    <div id="searchJournalistForm"></div>
    <div id="searchJournalistResult"></div>
    <div id="journalistPagination"></div>
</div>
<div id="journalistInfo">
    <div id="journalistInfoTab"></div>
    <div id="searchArticlesResult"></div>
    <div id="articlesPagination"></div>
</div>