<div>
    <select class="pagination-picks form-control">
        {{#if togglers}}
            {{#each togglers}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        {{/if}}
    </select>
</div>
<style>
</style>