@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error-notification">
    <h1 class="status-code">404</h1>
    <img src=@Url.Content("~/Content/img/icon-not-found.png") class="notification-img">
    <h2>Простите, мы не смогли найти то, что вы ищите</h2>
    <h4>
        Но не волнуйтесь
    </h4>
    <ul class="notification-list list-unstyled">
        <li class="list-header">Может быть это вам поможет:</li>
        <li class="list-item">
            @Html.ActionLink("Список сотрудников", "List", "Employee")
        </li>
        @if (User.Identity.IsAuthenticated && User.IsInRole("ChiefEditor"))
        {
            <li class="list-item">
                @Html.ActionLink("Добавить сотрудника", "Create", "Employee")
            </li>
            <li class="list-item">
                @Html.ActionLink("Список журналов", "List", "Publishing")
            </li>
            <li class="list-item">
                @Html.ActionLink("Добавить журнал", "Create", "Publishing")
            </li>
        }
    </ul>
</div>
