<nav aria-label="Page navigation example">
    <div class="row">
        <div class="col-sm-10" id="pages">
        </div>
        <div class="col-sm-2 text-right">
            <div class="btn-group">
                <button class="btn border page-quantity" id="pageQuantity" type="button">
                    5
                </button>
                <button type="button" class="btn  dropdown-toggle dropdown-toggle-split border" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                {{!-- <ul class="dropdown-menu">
                    <li class="dropdown-item d-none">5</li>
                    <li class="dropdown-item">10</li>
                    <li class="dropdown-item">25</li>
                    <li class="dropdown-item">50</li>
                </ul> --}}
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item d-none">5</a>
                    <a href="#" class="dropdown-item">10</a>
                    <a href="#" class="dropdown-item">25</a>
                    <a href="#" class="dropdown-item">50</a>
                </div>
            </div>
        </div>
    </div>
</nav>