{{#if issues}}
    <table class="table table-hover filter-result-table">
        <caption>Найденные номера</caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">Номер</th>
            </tr>
        </thead>
        <tbody>
            {{#each issues}}
                <tr data-id="{{this.issueId}}" class="cursor-pointer">
                    <td>{{this.issue}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p class="text-center">
        <small>Не найдено</small>
    </p>
{{/if}}

