@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка при обработке запроса";
}

<div class="card bg-danger text-white">
    <h4 class="card-header">Ошибка</h4>
    <div class="card-body ">
        <h5 class="card-title">При обработке запроса произошла внутренняя ошибка</h5>
        <p class="card-text">
            Попробуйте повторить попытку позднее или обратитесь к системному администратору
        </p>
        @if (Model.Exception is ApplicationException)
        {
            <h5 class="card-title">Описание ошибки:</h5>
            <p class="card-text">
                @Model.Exception.Message
            </p>
        }
    </div>
</div>

