{{#if pages}}
    <ul class="pagination a-no-sel">
        <li class="page-item">
            <span class="page-link" data-page="prev">&laquo;</span>
        </li>
            {{#each pages}}
                <li class="page-item {{this.class}}">
                    <span class="page-link active" data-page="{{this.value}}">{{this.value}}</span>
                </li>
            {{/each}}
        <li class="page-item">
            <span class="page-link" data-page="next">&raquo;</span>
        </li>
    </ul>
{{/if}}