<div class="mt-2">
    <table class="table table-striped">
        <caption>
            Результаты поиска
        </caption>
        <thead>
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Журнал
                </th>
                <th>
                    Номер
                </th>
                <th>
                    Дата выхода
                </th>
            </tr>
        </thead>
        <tbody id="searchResults">
 
        </tbody>
    </table>
</div>
<style>
    .pagination-picks {
        margin: 4% 0 0 0;
        width: 15%;
    }
    .dots:hover {
        cursor: default;
    }
</style>