<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 filter-container">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 filter-result-container">

            </div>
        </div>
        <div class="row">
            <div class="col-md-9 pagination-container">

            </div>
            <div class="col-md-3 select-per-page-container">

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="view-container">

        </div>
    </div>
</div>
