{{#if magazine}}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                <b>{{magazine.title}}</b>
            </h3>
        </div>
        <div class="col-md-12">
            <small>
                <span>{{magazine.number}}</span>
                <span>{{magazine.date}}</span>
            </small>
        </div>
        <div class="col-md-12">
            <h4>
                <b>{{magazine.subject}}</b>
            </h4>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li><a href="#">Рубрика 1</a></li>
                <li class="active"><a href="#">Рубрика 2</a></li>
                <li><a href="#">Рубрика 3</a></li>
                <li><a href="#">Рубрика 4</a></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="article-container">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Статья 1</div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis, nam doloribus sunt distinctio sequi possimus non quas tenetur soluta quidem sed tempora aperiam omnis quisquam reprehenderit.
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Статья 2</div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis, nam doloribus sunt distinctio sequi possimus non quas tenetur soluta quidem sed tempora aperiam omnis quisquam reprehenderit.
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Статья 3</div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis, nam doloribus sunt distinctio sequi possimus non quas tenetur soluta quidem sed tempora aperiam omnis quisquam reprehenderit.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advertising-container">
                        <div class="panel panel-info">
                            <div class="panel-heading">Реклама 1</div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Реклама 2</div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Реклама 3</div>
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Авторы</div>
                        <ul class="list-group">
                            <li class="list-group-item">Автор 1</li>
                            <li class="list-group-item">Автор 2</li>
                            <li class="list-group-item">Автор 3</li>
                            <li class="list-group-item">Автор 4</li>
                            <li class="list-group-item">Автор 5</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Редакторы</div>
                        <ul class="list-group">
                            <li class="list-group-item">Редактор 1</li>
                            <li class="list-group-item">Редактор 2</li>
                            <li class="list-group-item">Редактор 3</li>
                            <li class="list-group-item">Редактор 4</li>
                            <li class="list-group-item">Редактор 5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{!-- <div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <p>Номер</p>
                        <p>Дата</p>
                    </div>
                    <div class="col-md-10">
                        <img src="" alt="LOGO" class="img-thumbnail newspaper-logo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <b>Тематика</b>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li><a href="#">Страница 1</a></li>
                        <li class="active"><a href="#">Страница 2</a></li>
                        <li><a href="#">Страница 3</a></li>
                        <li><a href="#">Страница 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">
                    <b>Название Газеты</b>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>
            <b>Рубрика</b>
        </h4>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="article-container">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Статья 1</div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis, nam doloribus sunt distinctio sequi possimus non quas tenetur soluta quidem sed tempora aperiam omnis quisquam reprehenderit.
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Статья 2</div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis, nam doloribus sunt distinctio sequi possimus non quas tenetur soluta quidem sed tempora aperiam omnis quisquam reprehenderit.
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Статья 3</div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis, nam doloribus sunt distinctio sequi possimus non quas tenetur soluta quidem sed tempora aperiam omnis quisquam reprehenderit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="advertising-container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">Реклама 1</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">Реклама 2</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">Реклама 3</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">Реклама 4</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex similique repellendus ratione blanditiis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Авторы</div>
                    <ul class="list-group">
                        <li class="list-group-item">Автор 1</li>
                        <li class="list-group-item">Автор 2</li>
                        <li class="list-group-item">Автор 3</li>
                        <li class="list-group-item">Автор 4</li>
                        <li class="list-group-item">Автор 5</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Редакторы</div>
                    <ul class="list-group">
                        <li class="list-group-item">Редактор 1</li>
                        <li class="list-group-item">Редактор 2</li>
                        <li class="list-group-item">Редактор 3</li>
                        <li class="list-group-item">Редактор 4</li>
                        <li class="list-group-item">Редактор 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> --}}